* {
    margin: 0;
    padding: 0;
}

#header {
    height: 600px;
}

.demo_header {
    z-index: 999;
    margin-top: -550px;
}

#footer {
    overflow: hidden;
}

.blog_text {
    position: relative;
    color: #fff;
}

.blog_text p {
    font-size: 14px;
}

.blog_text input {
    background: transparent;
    padding: 10px 15px;
}

.blog_text input::placeholder {
    color: #acadaf;
}

.blog_text input:focus {
    background: transparent;
    border-color: #ef0e1e;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #ef0e1d56;
}

.blog_text i {
    position: absolute;
    top: 14px;
    right: 20px;
    color: #acadaf;
}

.blog_text h2 {
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.blog_hr {
    color: #ffffff!important;
    opacity: 1;
}

#blog_header {
    padding-top: 50px;
    padding-bottom: 100px;
}