* {
    margin: 0;
    padding: 0;
}

.c_body ul li {
    color: #b3a8a8;
}

.c_body p {
    color: #b3a8a8;
}

.t_card {
    margin-top: 20px;
}

#header {
    height: 600px;
}

.demo_header {
    z-index: 999;
    margin-top: -550px;
}

#footer {
    overflow: hidden;
}