 /*Extra Small devices (landscape phones, 576px and up) */
 
 @media (min-width: 320px) and (max-width:575.98px) {
     /*Header Section Start*/
     .form_mt {
         margin-top: 0px;
         padding-bottom: 15px;
     }
     .form_control {
         margin-right: 5px;
         width: 100%;
     }
     .signup_btn {
         margin-left: 5px;
         width: 60%;
         font-size: 15px;
         padding: 0px 5px;
     }
     .banner_text {
         margin-top: 25px;
         padding-bottom: 50px;
     }
     .common_h {
         margin-bottom: 15px;
         font-size: 32px;
     }
     .common_p {
         margin-bottom: 25px;
         font-size: 16px;
         word-spacing: 1px;
     }
     .list_mb {
         margin-bottom: 10px;
     }
     .play_btn {
         padding: 11px 12px;
         margin-right: 10px;
     }
     .addto_btn {
         padding: 12px 14px;
     }
     .mr-2 {
         margin-right: .2rem!important;
     }
     /*Header Section End*/
     /*Slide Show section Start*/
     #slider_show {
         padding-bottom: 30px;
     }
     .uk_width_1_6 {
         width: calc(100% * 1 / 2.001);
     }
     /*Slide Show section End*/
     /*Mission Impossible Section Start*/
     #missionImpossible {
         padding: 30px 0px;
     }
     .mi_text {
         margin-top: 30px;
     }
     .mi_h {
         font-size: 22px;
         margin-bottom: 15px;
     }
     .mi_p {
         margin-bottom: 25px;
     }
     .play_icon i {
         font-size: 20px;
         padding: 9px 18px;
     }
     /*Mission Impossible Section End*/
     /*Trend Section Start*/
     #trend {
         padding: 30px 0px;
     }
     .uk_child_width_1_6>* {
         width: calc(100% * 1 / 1.001);
     }
     /*Trend Section End*/
     /*Jurassic World Start */
     #jurassic {
         min-height: 460px;
     }
     .j_text {
         margin-top: 0px;
     }
     .j_h {
         font-size: 24px;
     }
     .j_p {
         width: 100%;
     }
     #venom {
         padding: 30px 0px;
     }
     /*Jurassic World End*/
     /* Catch Section Start */
     #catch {
         padding: 30px 0px;
     }
     .catch_mt {
         margin-top: 35px;
     }
     .catch_img {
         display: block;
         margin: 0 auto;
     }
     .catch_h {
         font-size: 24px;
         margin-bottom: 15px;
         margin-top: 25px;
     }
     .c_blog {
         margin-top: 15px;
     }
     .si_p {
         margin-top: 5px;
         font-size: 14px;
     }
     .catch_ta {
         text-align: center;
     }
     .endgame,
     .joker,
     .captain {
         margin-top: 25px;
     }
     .load_btn {
         margin-top: 25px;
     }
     /* Catch Section End */
     #footer {
         padding: 30px 0px;
     }
     /*Movie Section Start*/
     .dark_knight {
         margin-top: 20px;
     }
     .dark_img {
         text-align: center;
     }
     .dark_text h1 {
         font-size: 28px;
     }
     .rate_mt {
         margin-top: 25px;
         text-align: center;
     }
     .uk_grid_ml {
         margin-left: -13px;
     }
     /*Movie Section End*/
 }
 /* Small devices (landscape phones, 576px and up) */
 
 @media (min-width: 576px) and (max-width:767.98px) {
     /*Header Section Start*/
     .form_mt {
         margin-top: 0px;
         padding-bottom: 10px;
     }
     .banner_text {
         margin-top: 25px;
         padding-bottom: 50px;
     }
     .common_h {
         margin-bottom: 15px;
         font-size: 52px;
     }
     .common_p {
         margin-bottom: 25px;
         font-size: 17px;
         letter-spacing: 0px;
     }
     /*Header Section End*/
     /*Slide Show section Start*/
     .uk_width_1_6 {
         width: calc(100% * 1 / 4.001);
     }
     /*Slide Show section End*/
     /*Mission Impossible Section Start*/
     #missionImpossible {
         padding: 40px 0px;
     }
     .mi_text {
         margin-top: 40px;
     }
     .mi_h {
         font-size: 34px;
         margin-bottom: 20px;
     }
     .mi_p {
         margin-bottom: 30px;
     }
     /*Mission Impossible Section End*/
     /*Trend Section Start*/
     #trend {
         padding: 40px 0px;
     }
     .uk_child_width_1_6>* {
         width: calc(100% * 1 / 4.001);
     }
     .t_card {
         margin-top: 35px;
     }
     .load_btn {
         margin-top: 35px;
     }
     /*Trend Section End*/
     /*Jurassic World Start */
     #jurassic {
         min-height: 480px;
     }
     .j_text {
         margin-top: 50px;
     }
     .j_h {
         font-size: 25px;
     }
     .j_p {
         width: 100%;
     }
     #venom {
         padding: 40px 0px;
     }
     /*Jurassic World End*/
     /* Catch Section Start */
     .catch_mt {
         margin-top: 35px;
     }
     .catch_img {
         display: block;
         margin: 0 auto;
     }
     .catch_h {
         font-size: 24px;
         margin-bottom: 15px;
         margin-top: 25px;
     }
     .uk_overlay p {
         font-size: 13px;
     }
     .endgame_p {
         word-spacing: 0px;
     }
     .captain,
     .endgame {
         margin-top: 25px;
     }
     /* Catch Section End */
     .rating li i {
         font-size: 24px;
         padding: 8px 9px;
     }
     /*Movei Section Start*/
     .dark_knight {
         margin-top: 20px;
     }
     .rate_mt {
         margin-top: 20px;
     }
     .movie_addto {
         padding: 12px 20px;
     }
     .endgame_mt {
         margin-top: 0px;
     }
     /*Movei Section End*/
 }
 /* // Medium devices (tablets, 768px and up) */
 
 @media (min-width: 768px) and (max-width:991.98px) {
     /*Header Section Start*/
     .form_mt {
         margin-top: 0px;
         padding-bottom: 10px;
     }
     .common_h {
         margin-bottom: 20px;
         font-size: 40px;
     }
     .common_p {
         margin-bottom: 30px;
         letter-spacing: 0px;
     }
     .play_btn {
         padding: 11px 18px;
         margin-right: 10px;
     }
     .addto_btn {
         padding: 12px 20px;
     }
     .b_img {
         margin-top: 10px;
         margin-left: 0px;
     }
     /*Header Section End*/
     /*Slide Show section Start*/
     #slider_show {
         padding-bottom: 30px;
     }
     .uk_width_1_6 {
         width: calc(100% * 1 / 4.001);
     }
     /*Slide Show section End*/
     /*Mission Impossible Section Start*/
     .mi_text {
         margin-top: 50px;
     }
     /*Mission Impossible Section End*/
     /*Trend Section Start*/
     .uk_child_width_1_6>* {
         width: calc(100% * 1 / 4.001);
     }
     /*Trend Section End*/
     /*Jurassic World Start */
     #jurassic {
         min-height: 500px;
     }
     .j_text {
         margin-top: 80px;
     }
     .j_h {
         font-size: 28px;
     }
     .j_p {
         width: 70%;
     }
     /*Jurassic World End*/
     /*Ctach Secton Start*/
     #blog_header {
         padding-top: 30px;
         padding-bottom: 70px;
     }
     .catch_mt {
         margin-top: 30px;
     }
     .catch_h {
         font-size: 34px;
     }
     .catch_ta {
         text-align: center;
     }
     .uk_overlay p {
         font-size: 12px;
     }
     .endgame_p {
         word-spacing: 0px;
     }
     .blog_h {
         font-size: 30px;
     }
     /*Ctach Secton End*/
     /*Movie Secton Movie*/
     .dark_knight {
         margin-top: 30px;
     }
     /*Movie Secton End*/
 }
 /* // Large devices (desktops, 992px and up) */
 
 @media (min-width: 992px) and (max-width:1199.98px) {
     /*Header Section Start*/
     .navbar ul li a {
         margin-right: 12px;
     }
     .form_mt {
         margin-top: -25px;
     }
     .form_control {
         margin-right: 10px;
         width: 125px;
     }
     .signup_btn {
         margin-left: 10px;
     }
     .common_h {
         margin-bottom: 24px;
         font-size: 52px;
     }
     .common_p {
         margin-bottom: 40px;
         letter-spacing: 0px;
     }
     .b_img {
         margin-left: 40px;
     }
     #slider_show {
         padding-bottom: 30px;
     }
     /*Header Section End*/
     /*Mission Impossible Section Start*/
     .mi_h {
         font-size: 34px;
         margin-bottom: 20px;
     }
     .mi_p {
         margin-bottom: 30px;
     }
     /*Mission Impossible Section End*/
     /*Trend Section Start*/
     .uk_child_width_1_6>* {
         width: calc(100% * 1 / 6.001);
     }
     /*Trend Section End*/
     /*Jurassic World Start */
     #jurassic {
         min-height: 525px;
     }
     .j_text {
         margin-top: 80px;
     }
     .j_h {
         font-size: 30px;
     }
     .j_p {
         width: 79%;
     }
     /*Jurassic World End*/
     /*Ctach Secton Start*/
     .catch_h {
         font-size: 30px;
     }
     .align_center {
         align-self: baseline!important;
     }
     .c_blog:first-child {
         margin-top: 0px;
     }
     .c_blog {
         margin-top: 14px;
     }
     .si_p {
         margin-top: 5px;
         font-size: 14px;
     }
     .uk_overlay p {
         padding: 0px 15px;
     }
     .endgame_p {
         word-spacing: 0px;
     }
     /*Ctach Secton End*/
     /*Movie Section*/
     .movie_addto {
         padding: 12px 12px;
     }
     /*Movie Section*/
 }
 /* // X-Large devices (large desktops, 1200px and up) */
 
 @media (min-width: 1200px) and (max-width:1399.98px) {
     .j_text {
         margin-top: 115px;
     }
     .common_p {
         letter-spacing: 0px;
     }
 }
 /* XX-Large devices (larger desktops, 1400px and up) */
 
 @media (min-width: 1400px) and (max-width:1599.98px) {
     /*Jurassic World Start*/
     .j_text {
         margin-top: 120px;
     }
     .c_blog {
         margin-top: 20px;
     }
 }
 
 @media (min-width: 1600px) and (max-width:1799.98px) {}
 
 @media (min-width: 1800px) {
     /*Header Section Start*/
     .logo {
         width: 130px;
     }
     /*Jurassic World Start*/
     .j_text {
         margin-top: 120px;
     }
 }