* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #020d18;
}


/*Header Section Start*/

#header {
    background: url('../images/movie_b.png');
    background-repeat: no-repeat!important;
}

.dark_knight {
    margin-top: 100px;
}

.dark_text {
    margin-top: 8px;
}

.dark_text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 25px;
}

.dark_text p {
    font-size: 14px;
    color: #b0b0b0;
    margin-bottom: 3px!important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.dark_text p:nth-child(5) {
    margin-bottom: 22px!important;
}

.dark_text p:nth-child(6) {
    margin-bottom: 15px!important;
    line-height: 19px;
}

.dark_text p:last-child {
    line-height: 19px;
}

.dark_text p span {
    color: #0ea4f1;
}

.rating_start {
    margin-top: 20px;
    margin-left: 10px;
}

.rating_start li {
    margin-right: 3px!important;
}

.rating_start li:last-child {
    color: #0ea4f1;
}

.rating_start li i {
    color: #dac61b;
}


/*Header Section End*/


/*Dark World Section Start*/

#dark_world {
    padding: 50px 0px;
}


/*Dark World Section End*/