/* font-family: 'Montserrat', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #020d18;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}


/* Header Section Start*/

#header {
    padding: 30px 0px;
    background: url('../images/banner.jpg');
    background-repeat: no-repeat!important;
    background-size: cover;
    background-position: center center;
}

.navbar-light .navbar-toggler {
    border: 2px solid #ef0e1e;
}

.navbar ul {
    margin-top: 6px;
}

.navbar ul li a {
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff!important;
    transition: 0.3s ease-in-out;
}

.navbar ul li:hover a {
    color: #ef0e1e!important;
}

.navbar ul li .active {
    color: #ef0e1e!important;
}

.navbar ul li:last-child a {
    margin-right: 0px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.nav_icon {
    font-size: 28px;
    color: #ef0e1e;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.2rem #ef0e1e;
}

.form_mt {
    margin-top: -20px;
}

.form_control {
    margin-right: 25px;
    width: 175px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #f80f1f;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
}

.form_control::placeholder {
    color: #f80f1f;
}

.form_control:focus {
    color: #fff;
    border-color: #f80f1f;
    outline: 0;
    /* box-shadow: 0 0 0 0.1rem rgba(241, 13, 31, .25); */
}

.login_btn {
    font-size: 16px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.login_btn:hover {
    color: #ef0e1e;
}

.login_btn:focus {
    box-shadow: none;
}

.signup_btn {
    margin-left: 25px;
    padding: 8px 28px;
    background: #f10d1f;
    color: #fff;
    border-radius: 28px;
    transition: 0.3s ease-in-out;
}

.signup_btn:hover,
.signup_btn:focus {
    color: #fff;
    box-shadow: 3px 3px 71px 4px rgba(239, 14, 30, 1);
}

.list_mb {
    margin-bottom: 8px;
}

.b_color1 {
    background: #f3b01e;
    padding: 5px 10px;
    font-size: 12px;
}

.b_color2 {
    background: #37a2df;
    padding: 5px 10px;
    font-size: 12px;
}

.b_color3 {
    background: #de5e37;
    padding: 5px 10px;
    font-size: 12px;
}

.common_h {
    margin-bottom: 28px;
    font-size: 62px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}

.common_p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #b0b0b0;
    letter-spacing: 1px;
    line-height: 1.6;
}

.play_btn {
    padding: 11px 22px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background: #ef0e1e;
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: 1px 5px 71px -8px rgba(239, 14, 30, 1);
    transition: 0.4s ease-in-out;
}

.play_btn:hover,
.play_btn:focus {
    box-shadow: 3px 3px 71px 4px rgba(239, 14, 30, 1);
}

.addto_btn {
    padding: 12px 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background: #000;
    border-radius: 25px;
    box-shadow: 1px 5px 71px -8px rgba(0, 0, 0, 1);
    transition: 0.4s ease-in-out;
}

.addto_btn:hover,
.addto_btn:focus {
    box-shadow: 3px 3px 71px 4px rgba(239, 14, 30, 1);
}

.play_btn:hover,
.addto_btn:hover {
    color: #fff;
}

.b_img {
    margin-left: 45px;
}


/* Header Section End*/


/*Slider Show Section Start*/

#slider_show {
    padding-top: 20px;
    padding-bottom: 40px;
    background: #020d18;
}

.uk_grid>* {
    padding-left: 15px;
}

.slide_zindex {
    margin-top: -50px;
    z-index: 99999;
}


/*Slider Show Section End*/


/*Mission Impossible Secton Start*/

#missionImpossible {
    padding: 50px 0px;
    background: url('../images/mi_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.mi_h {
    font-size: 36px;
    margin-bottom: 25px;
}

.mi_p {
    margin-bottom: 35px;
}

.mi_img {
    position: relative;
}

.play_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play_icon i {
    font-size: 25px;
    color: #fff!important;
    background: #1e1b1a;
    border-radius: 10px;
    padding: 12px 25px;
    transition: 0.3s ease-in-out;
}

.play_icon i:hover {
    background: #ef0e1e;
}


/*Mission Impossible Secton End*/


/*Trend Section Start*/

#trend {
    background: #020d18;
    padding: 50px 0px;
}

.uk_slider_items li {
    margin-right: 0px!important;
}

.uk_child_width_1_6>* {
    width: calc(100% * 1 / 8.001);
}

.btn_secondary {
    background: #15202b;
    color: #fff;
    border-radius: 25px;
    width: 118px;
    height: 38px;
    font-size: 16px;
    padding: 1px 2px;
    transition: 0.4s ease-in-out;
}

.btn_secondary:hover {
    color: #fff;
    background: #fe0f20;
}

.btn_danger {
    background: #fe0f20;
    transition: 0.4s ease-in-out;
}

.btn_danger:hover {
    background: #15202b;
}

.trend_p1 {
    font-family: 'Montserrat', sans-serif;
    color: #b0b0b0;
    font-size: 16px;
    font-weight: 300;
    margin: 25px 0px;
}

.t_card {
    background: transparent;
    margin-top: 50px;
}

.c_body {
    padding: 0px;
    padding-top: 25px;
}

.c_body h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}

.c_body p {
    font-family: 'Montserrat', sans-serif;
    color: #4c4c4c;
    font-size: 14px;
}

.c_body ul li {
    color: #4c4c4c;
    margin-right: 15px!important;
    font-size: 14px;
}

.c_body ul li:last-child {
    color: #f3dd1e;
}

.load_btn {
    background: #151f2b;
    margin-top: 45px;
}


/*Trend Section End*/


/*Active Color*/

.active {
    color: #ef0e1e!important;
}


/*Active Color*/


/*Jurassic World Start*/

#jurassic {
    padding: 50px 0px;
    background: url(../images/j_banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 625px;
}

.j_text {
    margin-top: 130px;
}

.j_h {
    font-size: 36px;
    font-weight: 600;
}

.j_p {
    width: 75%;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
}


/*Jurassic World End*/


/*Venom Section Start*/

#venom {
    padding: 50px 0px;
    background: url('../images/venom_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.v_p {
    letter-spacing: 0px;
}


/*Venom Section End*/


/*Catch Section Start*/

#catch {
    padding: 50px 0px;
    background: #020d18;
}

.catch_mt {
    margin-top: 50px;
}

.catch_bl {
    border-left: 1px solid #4c4c4c;
}

.catch_h {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    line-height: 35px;
    margin-bottom: 30px;
}

.catch_p1,
.catch_p2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b0b0b0;
    letter-spacing: -1px;
    word-spacing: 4px;
    line-height: 22px;
}

.catch_text a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.catch_text a:hover {
    color: #fe0f20;
}

.catch_text a i {
    margin-left: 12px;
    font-size: 12px;
}

.c_blog {
    margin-top: 14px;
}

.hunger_ml {
    display: block;
    margin: 0 auto;
}

.si_p {
    margin-bottom: 0;
    color: #fff;
    margin-top: 5px;
}

.si_a {
    color: #4c4c4c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

.si_a:hover {
    color: #fe0f20;
    text-decoration: none;
}

.uk_overlay_primary {
    background: #090e13da;
}

.uk_overlay {
    padding: 10px 1px;
}

.uk_overlay p {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.endgame_p {
    word-spacing: -1px;
}


/*Catch Section End*/


/*Footer Section Start*/

#footer {
    padding: 50px 0px;
    background: #000b15;
}

.f_logo {
    margin-bottom: 30px;
}

.copyright_p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b0b0b0;
    margin-bottom: 8px;
}

.cp_mt {
    margin-bottom: 40px;
    line-height: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.rating {
    margin-bottom: 40px;
}

.rating li {
    margin-right: 0px!important;
}

.rating li i {
    font-size: 25px;
    padding: 10px 11px;
    background: #212121;
    color: #6d6d6d;
    border-radius: 50%;
    margin-right: 5px;
    transition: 0.4s ease-in-out;
}

.rating li:hover i {
    color: #ef0e1e;
    transform: scale(1.2)
}

.social li i {
    font-size: 25px;
    color: #6d6d6d;
    margin-right: 5px;
    transition: 0.3s ease-in-out;
}

.social li:first-child:hover i {
    color: #365cad;
    transform: scale(1.4)
}

.social li:nth-child(2):hover i {
    color: #FBBC05;
    transform: scale(1.4)
}

.social li:nth-child(3):hover i {
    color: #00acee;
    transform: scale(1.4)
}

.social li:last-child:hover i {
    color: #8a3ab9;
    transform: scale(1.4)
}

.movieLinks p {
    color: #b0b0b0;
    font-size: 14px;
    font-weight: 300;
}

.movieLinks ul {
    padding-left: 0px!important;
}

.movieLinks ul li {
    margin-bottom: 5px;
}

.movieLinks ul li a {
    color: #656565;
    font-size: 14px;
    transition: 0.3s ease;
}

.movieLinks ul li:last-child {
    margin-bottom: 0px;
}

.movieLinks ul li:hover a {
    color: #ef0e1e;
    text-decoration: none;
}


/*Footer Section End*/